pythonEnv
build/
Builds/
sandBox/
dist/
*.pyc
*.pyo
*egg-info/
*.log
*.so
*.dll
docs/_build/*
docs/gh-pages/*
DBStyle.json
gsapi/.idea/*
examples/notebooks/.ipynb_checkpoints
profiled
.coverage
htmlcov/
coverage.xml
.idea/
.DS_Store
output/*.
gsapi/__pycache__/
output/*.json
output/*.png
output/*.csv
output/mr_scruff/
output/*.mid
