.coverage
.DS_Store
.idea/


build/
Builds/
dist/
htmlcov/
pythonEnv
sandBox/

profiled

*.pyc
*.pyo
*egg-info/
*.log
*.so
*.dll

docs_old/_build/*
docs_old/gh-pages/*
DBStyle.json

gsapi/.idea/*
gsapi/__pycache__/

examples/notebooks/.ipynb_checkpoints

coverage.xml

output/*.json
output/*.png
output/*.csv
output/mr_scruff/
output/*.mid
docs/
